:host {
  @apply
    overflow-y-hidden flex-shrink-0
    lg:flex lg:h-full max-lg:border-b max-lg:grow;
}

.group-sidenav {
  @apply
    flex overflow-hidden
    lg:flex-col lg:w-[7rem] lg:h-full max-lg:border-t;

  .group-link {
    @apply
      flex flex-col items-center justify-center
      text-gray-400 py-5 bg-transparent
      border-r
      transition duration-150 ease-out
      max-lg:grow max-lg:last-of-type:border-r-0 max-lg:border-b;

    &:hover,
    &.active {
      @apply text-cyan-600 ease-in;

      span {
        @apply text-cyan-700;
      }
    }

    &.active {
      box-shadow:
              0 4px 6px -1px rgb(0 0 0 / 0.1),
              0 2px 4px -2px rgb(0 0 0 / 0.1),
              0 -1px 3px 0 rgb(0 0 0 / 0.1),
              0 -1px 2px -1px rgb(0 0 0 / 0.1);

      @apply max-lg:border-b-transparent lg:border-r-transparent;
    }

    doc-icon {
      @apply text-5xl font-extralight;
    }

    span {
      @apply text-sm mt-1 text-gray-500;
    }
  }
}

.inner-sidenav {
  @apply
    flex flex-col pr-0 bg-white
    lg:w-[26rem] lg:h-full lg:border-r max-lg:grow;
}